


/* New code above*/
  .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

/*Navbar*/

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color:#3aa448;
  }
  /*
  .shop{
    color: #3aa448;
  }
  nav ul li a{
    color: #a9a9a9;
    font-size: 22px;
    margin:auto 10px
  }

  nav ul li a:hover{
  color:#683aa4 ;
  }

  .masthead {
     background-size: cover;
      min-height: 60vh;
    }
*/

/*Drop Down*/
.dropdown-menu{
    border-radius:5px;
    border: 0;
    padding: .5em;
    box-shadow: 0 3px 6px rgba(0,0,0, .23);
}
.dropdown-menu ul{
    list-style: none;
    padding: 0;
}
/*.dropdown-menu.show{
    display: flex;
}*/
/*.dropdown-menu li a{
    color: #a9a9a9;
    padding: .5em 1em;

}*/
/*.dropdown-menu li:first-child a{
    font-weight: bold;
    font-size: 1.2rem;
    color: black ;
}*/
/*@media screen and (min-width:993px) {
    .dropdown:hover .dropdown-menu{
        display:flex;
    }
    .dropdown-menu.show{
        display: flex ;
    }
}

@media screen and (min-width:993px) {
     .dropdown-menu.show{
        max-height: 350px;
        overflow-y: scroll;
    }


}*/
/*
.dropdown-menu {
  margin: 4rem auto;
}
*/
.w-220px {
  width: 180px;
}

.w-280px {
  width: 280px;
}

.w-340px {
  width: 340px;
}

.w-600px {
  width: 600px;
}


/*Cards */
/*.card{
transition:all 0.3s;
}
.card:hover{
transform: scale(1.15);
}*/

/*cart*/
.attr-nav > ul > li > a{
     padding: 28px 15px;
}

.attr-nav > ul > li > a:hover{
     color: #b0b435;
     }

      .attr-nav{
              top: 10px;
              }

  .side-menu p{
  display: inline-block;
  }
/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

.banner { margin: 30px 0; }

.slider-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-border-radius: var(--border-radius-md);
          border-radius: var(--border-radius-md);
  overflow: auto hidden;
  -webkit-scroll-snap-type: inline mandatory;
      -ms-scroll-snap-type: inline mandatory;
          scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1 / 1;
  -webkit-border-radius: var(--border-radius-md);
          border-radius: var(--border-radius-md);
  overflow: hidden;
  scroll-snap-align: start;
}

.slider-item .banner-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.banner-content {
  background: hsla(0, 0%, 100%, 0.8);
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  padding: 20px 25px;
  -webkit-border-radius: var(--border-radius-md);
          border-radius: var(--border-radius-md);
}

.banner-subtitle {
  color: var(--salmon-pink);
  font-size: var(--fs-7);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.banner-title {
  color: var(--eerie-black);
  font-size: var(--fs-1);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

.banner-text { display: none; }

.banner-btn {
  background: var(--salmon-pink);
  color: var(--white);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: var(--fs-11);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 4px 10px;
  -webkit-border-radius: var(--border-radius-sm);
          border-radius: var(--border-radius-sm);
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
}

.banner-btn:hover { background: var(--eerie-black); }


  /**
   * #BANNER
   */

   .slider-item { aspect-ratio: 5 / 3; }

   .banner-content {
     top: 50%;
     right: auto;
     bottom: auto;
     -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
             transform: translateY(-50%);
     max-width: 320px;
   }
 
   .banner-subtitle { --fs-7: 1rem; }
 
   .banner-text {
     display: block;
     color: var(--sonic-silver);
     font-size: var(--fs-7);
     font-weight: var(--weight-500);
     margin-bottom: 10px;
   }
 
   .banner-text b { font-size: var(--fs-2); }
 
   .banner-btn { padding: 7px 20px; }

   
  /**
   * #BANNER
   */

  .slider-item { aspect-ratio: 4 / 2; }

  .banner-content { background: none; }

  
  /**
   * #BANNER 
   */

   .slider-item {
    aspect-ratio: auto;
    height: 450px; /*slider */
  }

  .banner-content { max-width: 380px; }

  .banner-subtitle { --fs-7: 1.25rem; }

  .banner-text { --fs-7: 1.125rem; }

  .banner-text b { --fs-2: 1.875rem; }

  .banner-btn { --fs-11: 0.75rem; }

  
  /**
   * #BANNER 
   */

   .banner { margin-top: 0; }


 
   .banner-content {
     left: 75px;
     max-width: 400px;
   }
 
   .banner-subtitle { --fs-7: 1.625rem; }
 
   .banner-text { --fs-7: 1.375rem; }
 
   .banner-btn { --fs-11: 0.875rem; }

   
  /**
   * #BANNER
   */

  .slider-item:last-child .banner-img { -o-object-position: top; object-position: top; }
 
