<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Reset Passsword</title>
    <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous"
    />
    <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
          rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <img src="images/shoplogo.png" alt="logo" class="logo img-fluid" />
        <a class="navbar-brand" th:href="@{/}">ZedShop</a>


        <button class="navbar-toggler" type="button" href="#offcanvasExample" data-bs-toggle="offcanvas"  aria-controls="offcanvasExample" >
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <a class="title" th:href="@{/}"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Zedshop</a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav m-auto my-2 my-lg-0">
                    <li class="nav-item" th:each = "category : ${categories}">
                        <a th:href="@{/products-in-category/{id}(id = ${category.categoryId})}" class="nav-link">[[${category.category_name}]]
                            <small class="text-muted">([[${category.numberOfProducts}]])</small>
                        </a>
                    </li>
                </ul>


                <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="searchModalLabel">Search Products</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/search}" class="d-flex" method="get">
                                    <input class="form-control me-2" type="search" placeholder="Search Products" aria-label="Search">
                                    <button class="btn btn-outline-dark" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <ul class="navbar-nav ms-auto me-2">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#searchModal">
                            <i class="fa fa-search"></i>
                            search
                        </button>
                    </li>

                    <li class="nav-item px-3">
                        <a class="nav-link" th:href="@{/cart}">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="badge bg-secondary">[[${session.totalItems == null} ? '0' : ${session.totalItems}]]</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown px-1" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link dropdown-toggle" th:href="@{/home}" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user-circle-o me-2"></i><span th:text="${#authentication.name}"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                            <li><a class="dropdown-item" th:href="@{/order}">Orders</a></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item px-1" th:unless="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/login}">Login / register</a>
                    </li>

                </ul>

            </div>
        </div>

    </div>
</nav>
<!-- End of Navbar -->

<div class="card text-center" style="width: 300px;">
  <div class="card-header h5 text-white bg-primary">Password Reset</div>
  <div class="card-body px-5">
    <p class="card-text py-2">
      Enter your email address and we'll send you an email with instructions to reset your password.
    </p>

      <div th:if="${error != null}">
          <p class="text-danger">[[${error}]]</p>
      </div>
      <div th:if="${message != null}">
          <p class="text-warning">[[${message}]]</p>
      </div>

      <div class="form-outline">
          <form th:action="@{/forgot-password}" method="post">
              <input type="email" id="typeEmail" name="email" class="form-control my-3"/>
              <label class="form-label" for="typeEmail">Email</label>
              <button type="submit" class="btn btn-primary w-100">Reset password</button>
          </form>
      </div>
      <div class="d-flex justify-content-between mt-4">
          <a class="" href="#">Login</a>
          <a class="" href="#">Register</a>
      </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span><b>Get connected with us on social networks:</b></span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
                    <!-- Content -->
                    <img src="images/shoplogo.png" alt="logo" class="logo img-fluid" />
                    <h4 class=" fw-bold mb-2">
                        <strong>Subscribe to Newsletter</strong>
                    </h4>
                    <p>
                        Subscribe to be notified when new Items arrive.
                    </p>

                    <form action="" class="newsletter-form">
                        <div class="row">
                            <div class="col" style="width:45px;">

                                <input type="email" name="email"  class="form-control bg-light" required placeholder="Email Address">
                            </div>


                            <button type="submit" class="btn1">Subscribe</button>
                        </div>

                    </form>


                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p style="color:#fff;">
                        <a href="#!" class="text-reset">My Account</a>
                    </p>
                    <p style="color:#fff;">
                        <a th:href="@{/cart}" class="text-reset">View Cart</a>
                    </p>
                    <p style="color:#fff;">
                        <a href="#!" class="text-reset">Wishlist</a>
                    </p>
                    <p style="color:#fff;">
                        <a href="#!" class="text-reset">Compare</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p style="color:#fff;">
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p style="color:#fff;">
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p style="color:#fff;">
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p style="color:#fff;">
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p class="address"><i class="fa fa-home me-2"></i>14 Choma Court Northmead, Zambia.</p>
                    <p class="phone"><a href="tel:+260978826468" style="color:#fff;"><i class="fa fa-phone me-2"></i>+ 260 978826468</a></p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="/">Zedshop Ltd</a>
    </div>
    <!-- Copyright -->
</footer>


</body>
</html>